04-for-each/pipeline/pl_Watermark_IncrementalLoad.json
{
	"name": "pl_Watermark_IncrementalLoad",
	"properties": {
		"activities": [
			{
				"name": "lkp_GetOldWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT\r\n    last_loaded_time\r\nFROM \r\n    control.watermark_table\r\nWHERE \r\n    table_name = 'sales_orders'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_Watermark_Table",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "lkp_GetNewWatermark",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "lkp_GetOldWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(modified_date) AS new_watermark \r\nFROM dbo.sales_orders",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_SalesOrders_Source",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "cpy_IncrementalLoad",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lkp_GetNewWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM dbo.sales_orders\nWHERE modified_date > '@{activity('LKP_GetOldWatermark').output.firstRow.last_loaded_time}'\nAND modified_date <= '@{activity('LKP_GetNewWatermark').output.firstRow.new_watermark}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "order_id",
									"type": "int",
									"physicalType": "int",
									"precision": 10
								},
								"sink": {
									"name": "order_id",
									"type": "int",
									"physicalType": "int",
									"precision": 10
								}
							},
							{
								"source": {
									"name": "customer_name",
									"type": "varchar",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "customer_name",
									"type": "varchar",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "product",
									"type": "varchar",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "product",
									"type": "varchar",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "quantity",
									"type": "int",
									"physicalType": "int",
									"precision": 10
								},
								"sink": {
									"name": "quantity",
									"type": "int",
									"physicalType": "int",
									"precision": 10
								}
							},
							{
								"source": {
									"name": "unit_price",
									"type": "float",
									"physicalType": "float",
									"precision": 15
								},
								"sink": {
									"name": "unit_price",
									"type": "float",
									"physicalType": "float",
									"precision": 15
								}
							},
							{
								"source": {
									"name": "total_amount",
									"type": "float",
									"physicalType": "float",
									"precision": 15
								},
								"sink": {
									"name": "total_amount",
									"type": "float",
									"physicalType": "float",
									"precision": 15
								}
							},
							{
								"source": {
									"name": "order_status",
									"type": "varchar",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "order_status",
									"type": "varchar",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "modified_date",
									"type": "datetime",
									"physicalType": "datetime",
									"scale": 3,
									"precision": 23
								},
								"sink": {
									"name": "modified_date",
									"type": "datetime",
									"physicalType": "datetime",
									"scale": 3,
									"precision": 23
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_SalesOrders_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sales_orders_sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "sp_UpdateWatermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cpy_IncrementalLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[control].[usp_UpdateWatermark]",
					"storedProcedureParameters": {
						"last_loaded_time": {
							"value": {
								"value": "@formatDateTime(activity('LKP_GetNewWatermark').output.firstRow.new_watermark, 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "String"
						},
						"table_name": {
							"value": "sales_orders",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azuresql_incremental_dataload",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-03-01T21:05:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}