adf-incremental-dataload/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-incremental-dataload"
		},
		"ls_azuresql_incremental_dataload_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_azuresql_incremental_dataload'"
		},
		"ls_azuresql_incremental_dataload_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqlserver-incremental-dataload.database.windows.net"
		},
		"ls_azuresql_incremental_dataload_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sqldb-incremental-dataload"
		},
		"ls_azuresql_incremental_dataload_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sqladmin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_azuresql_incremental_dataload')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_azuresql_incremental_dataload_properties_typeProperties_server')]",
					"database": "[parameters('ls_azuresql_incremental_dataload_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_azuresql_incremental_dataload_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_azuresql_incremental_dataload_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_DeltaWatermark_Table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql_incremental_dataload",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "table_name",
						"type": "varchar"
					},
					{
						"name": "last_id",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "control",
					"table": "delta_watermark"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_incremental_dataload')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SalesOrders_DeltaSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql_incremental_dataload",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "order_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_name",
						"type": "varchar"
					},
					{
						"name": "product",
						"type": "varchar"
					},
					{
						"name": "quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "unit_price",
						"type": "float",
						"precision": 15
					},
					{
						"name": "total_amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "order_status",
						"type": "varchar"
					},
					{
						"name": "modified_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "sales_orders_delta_sink"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_incremental_dataload')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SalesOrders_Sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql_incremental_dataload",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "order_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_name",
						"type": "varchar"
					},
					{
						"name": "product",
						"type": "varchar"
					},
					{
						"name": "quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "unit_price",
						"type": "float",
						"precision": 15
					},
					{
						"name": "total_amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "order_status",
						"type": "varchar"
					},
					{
						"name": "modified_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "sales_orders_sink"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_incremental_dataload')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SalesOrders_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql_incremental_dataload",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "order_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_name",
						"type": "varchar"
					},
					{
						"name": "product",
						"type": "varchar"
					},
					{
						"name": "quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "unit_price",
						"type": "float",
						"precision": 15
					},
					{
						"name": "total_amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "order_status",
						"type": "varchar"
					},
					{
						"name": "modified_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "sales_orders"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_incremental_dataload')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Watermark_Table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql_incremental_dataload",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "table_name",
						"type": "varchar"
					},
					{
						"name": "last_loaded_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "control",
					"table": "watermark_table"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_incremental_dataload')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_DeltaCopy_LookupFilter')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lkp_GetOldWatermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT last_id FROM control.delta_watermark\r\nWHERE table_name = 'sales_orders'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_DeltaWatermark_Table",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "lkp_GetNewWatermark",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "lkp_GetOldWatermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT MAX(order_id) AS new_id \r\n     FROM dbo.sales_orders",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_SalesOrders_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "cpy_DeltaLoad",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "lkp_GetNewWatermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM dbo.sales_orders\r\n     WHERE order_id > @{activity('LKP_GetOldWatermark').output.firstRow.last_id}\r\n     AND order_id <= @{activity('LKP_GetNewWatermark').output.firstRow.new_id}",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "order_id",
											"type": "int",
											"physicalType": "int",
											"precision": 10
										},
										"sink": {
											"name": "order_id",
											"type": "int",
											"physicalType": "int",
											"precision": 10
										}
									},
									{
										"source": {
											"name": "customer_name",
											"type": "varchar",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "customer_name",
											"type": "varchar",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "product",
											"type": "varchar",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "product",
											"type": "varchar",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "quantity",
											"type": "int",
											"physicalType": "int",
											"precision": 10
										},
										"sink": {
											"name": "quantity",
											"type": "int",
											"physicalType": "int",
											"precision": 10
										}
									},
									{
										"source": {
											"name": "unit_price",
											"type": "float",
											"physicalType": "float",
											"precision": 15
										},
										"sink": {
											"name": "unit_price",
											"type": "float",
											"physicalType": "float",
											"precision": 15
										}
									},
									{
										"source": {
											"name": "total_amount",
											"type": "float",
											"physicalType": "float",
											"precision": 15
										},
										"sink": {
											"name": "total_amount",
											"type": "float",
											"physicalType": "float",
											"precision": 15
										}
									},
									{
										"source": {
											"name": "order_status",
											"type": "varchar",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "order_status",
											"type": "varchar",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "modified_date",
											"type": "datetime",
											"physicalType": "datetime",
											"scale": 3,
											"precision": 23
										},
										"sink": {
											"name": "modified_date",
											"type": "datetime",
											"physicalType": "datetime",
											"scale": 3,
											"precision": 23
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SalesOrders_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_SalesOrders_DeltaSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_DeltaWatermark_Table')]",
				"[concat(variables('factoryId'), '/datasets/ds_SalesOrders_Source')]",
				"[concat(variables('factoryId'), '/datasets/ds_SalesOrders_DeltaSink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Watermark_IncrementalLoad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lkp_GetOldWatermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT\r\n    last_loaded_time\r\nFROM \r\n    control.watermark_table\r\nWHERE \r\n    table_name = 'sales_orders'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_Watermark_Table",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "lkp_GetNewWatermark",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "lkp_GetOldWatermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT MAX(modified_date) AS new_watermark \r\nFROM dbo.sales_orders",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_SalesOrders_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "cpy_IncrementalLoad",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "lkp_GetNewWatermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM dbo.sales_orders\nWHERE modified_date > '@{activity('LKP_GetOldWatermark').output.firstRow.last_loaded_time}'\nAND modified_date <= '@{activity('LKP_GetNewWatermark').output.firstRow.new_watermark}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "order_id",
											"type": "int",
											"physicalType": "int",
											"precision": 10
										},
										"sink": {
											"name": "order_id",
											"type": "int",
											"physicalType": "int",
											"precision": 10
										}
									},
									{
										"source": {
											"name": "customer_name",
											"type": "varchar",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "customer_name",
											"type": "varchar",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "product",
											"type": "varchar",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "product",
											"type": "varchar",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "quantity",
											"type": "int",
											"physicalType": "int",
											"precision": 10
										},
										"sink": {
											"name": "quantity",
											"type": "int",
											"physicalType": "int",
											"precision": 10
										}
									},
									{
										"source": {
											"name": "unit_price",
											"type": "float",
											"physicalType": "float",
											"precision": 15
										},
										"sink": {
											"name": "unit_price",
											"type": "float",
											"physicalType": "float",
											"precision": 15
										}
									},
									{
										"source": {
											"name": "total_amount",
											"type": "float",
											"physicalType": "float",
											"precision": 15
										},
										"sink": {
											"name": "total_amount",
											"type": "float",
											"physicalType": "float",
											"precision": 15
										}
									},
									{
										"source": {
											"name": "order_status",
											"type": "varchar",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "order_status",
											"type": "varchar",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "modified_date",
											"type": "datetime",
											"physicalType": "datetime",
											"scale": 3,
											"precision": 23
										},
										"sink": {
											"name": "modified_date",
											"type": "datetime",
											"physicalType": "datetime",
											"scale": 3,
											"precision": 23
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SalesOrders_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_SalesOrders_Sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_UpdateWatermark",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "cpy_IncrementalLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[control].[usp_UpdateWatermark]",
							"storedProcedureParameters": {
								"last_loaded_time": {
									"value": {
										"value": "@formatDateTime(activity('LKP_GetNewWatermark').output.firstRow.new_watermark, 'yyyy-MM-dd HH:mm:ss')",
										"type": "Expression"
									},
									"type": "String"
								},
								"table_name": {
									"value": "sales_orders",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azuresql_incremental_dataload",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_Watermark_Table')]",
				"[concat(variables('factoryId'), '/datasets/ds_SalesOrders_Source')]",
				"[concat(variables('factoryId'), '/datasets/ds_SalesOrders_Sink')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_incremental_dataload')]"
			]
		}
	]
}