adf-incremental-dataload/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-incremental-dataload"
		},
		"ls_azuresql_incremental_dataload_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_azuresql_incremental_dataload'"
		},
		"ls_azuresql_incremental_dataload_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqlserver-incremental-dataload.database.windows.net"
		},
		"ls_azuresql_incremental_dataload_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sqldb-incremental-dataload"
		},
		"ls_azuresql_incremental_dataload_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sqladmin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_CDC_IncrementalLoad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lkp_GetLastLSN",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT CONVERT(VARCHAR(100), last_lsn, 1) AS last_lsn\nFROM control.cdc_watermark\nWHERE table_name = 'sales_orders'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_CDCWatermark",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "lkp_GetCurrentLSN",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "lkp_GetLastLSN",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "INSERT INTO control.cdc_lsn_stage (lsn_value)\nSELECT CONVERT(VARCHAR(100), sys.fn_cdc_get_max_lsn(), 1);\n\nSELECT TOP 1 lsn_value AS current_lsn \nFROM control.cdc_lsn_stage \nORDER BY created_at DESC;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_CDCWatermark",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "cpy_CDCLoad",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "lkp_GetCurrentLSN",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT \n    order_id,\n    customer_name,\n    product,\n    quantity,\n    unit_price,\n    total_amount,\n    order_status,\n    modified_date,\n    CASE __$operation\n        WHEN 1 THEN 'DELETE'\n        WHEN 2 THEN 'INSERT'\n        WHEN 4 THEN 'UPDATE'\n    END AS cdc_operation\nFROM cdc.fn_cdc_get_all_changes_dbo_sales_orders(\n    CONVERT(BINARY(10), '@{activity('LKP_GetLastLSN').output.firstRow.last_lsn}', 1),\n    CONVERT(BINARY(10), '@{activity('LKP_GetCurrentLSN').output.firstRow.current_lsn}', 1),\n    'all'\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "order_id",
											"type": "int",
											"physicalType": "int",
											"precision": 10
										},
										"sink": {
											"name": "order_id",
											"type": "int",
											"physicalType": "int",
											"precision": 10
										}
									},
									{
										"source": {
											"name": "customer_name",
											"type": "varchar",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "customer_name",
											"type": "varchar",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "product",
											"type": "varchar",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "product",
											"type": "varchar",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "quantity",
											"type": "int",
											"physicalType": "int",
											"precision": 10
										},
										"sink": {
											"name": "quantity",
											"type": "int",
											"physicalType": "int",
											"precision": 10
										}
									},
									{
										"source": {
											"name": "unit_price",
											"type": "float",
											"physicalType": "float",
											"precision": 15
										},
										"sink": {
											"name": "unit_price",
											"type": "float",
											"physicalType": "float",
											"precision": 15
										}
									},
									{
										"source": {
											"name": "total_amount",
											"type": "float",
											"physicalType": "float",
											"precision": 15
										},
										"sink": {
											"name": "total_amount",
											"type": "float",
											"physicalType": "float",
											"precision": 15
										}
									},
									{
										"source": {
											"name": "order_status",
											"type": "varchar",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "order_status",
											"type": "varchar",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "modified_date",
											"type": "datetime",
											"physicalType": "datetime",
											"scale": 3,
											"precision": 23
										},
										"sink": {
											"name": "modified_date",
											"type": "datetime",
											"physicalType": "datetime",
											"scale": 3,
											"precision": 23
										}
									},
									{
										"source": {
											"name": "cdc_operation"
										},
										"sink": {
											"name": "cdc_operation",
											"type": "varchar",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SalesOrders_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_SalesOrders_CDCSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_UpdateCDCWatermark",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "cpy_CDCLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[control].[usp_UpdateCDCWatermark]",
							"storedProcedureParameters": {
								"last_lsn": {
									"value": {
										"value": "@{activity('lkp_GetCurrentLSN').output.firstRow.current_lsn}",
										"type": "Expression"
									},
									"type": "String"
								},
								"table_name": {
									"value": "sales_orders",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azuresql_incremental_dataload",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-02T09:07:02Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_CDCWatermark')]",
				"[concat(variables('factoryId'), '/datasets/ds_SalesOrders_Source')]",
				"[concat(variables('factoryId'), '/datasets/ds_SalesOrders_CDCSink')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_incremental_dataload')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_DeltaCopy_LookupFilter_Incremental_Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lkp_GetOldWatermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT last_id FROM control.delta_watermark\r\nWHERE table_name = 'sales_orders'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_DeltaWatermark_Table",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "lkp_GetNewWatermark",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "lkp_GetOldWatermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT MAX(order_id) AS new_id \r\n     FROM dbo.sales_orders",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_SalesOrders_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "cpy_DeltaLoad",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "lkp_GetNewWatermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM dbo.sales_orders\r\n     WHERE order_id > @{activity('LKP_GetOldWatermark').output.firstRow.last_id}\r\n     AND order_id <= @{activity('LKP_GetNewWatermark').output.firstRow.new_id}",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "order_id",
											"type": "int",
											"physicalType": "int",
											"precision": 10
										},
										"sink": {
											"name": "order_id",
											"type": "int",
											"physicalType": "int",
											"precision": 10
										}
									},
									{
										"source": {
											"name": "customer_name",
											"type": "varchar",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "customer_name",
											"type": "varchar",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "product",
											"type": "varchar",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "product",
											"type": "varchar",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "quantity",
											"type": "int",
											"physicalType": "int",
											"precision": 10
										},
										"sink": {
											"name": "quantity",
											"type": "int",
											"physicalType": "int",
											"precision": 10
										}
									},
									{
										"source": {
											"name": "unit_price",
											"type": "float",
											"physicalType": "float",
											"precision": 15
										},
										"sink": {
											"name": "unit_price",
											"type": "float",
											"physicalType": "float",
											"precision": 15
										}
									},
									{
										"source": {
											"name": "total_amount",
											"type": "float",
											"physicalType": "float",
											"precision": 15
										},
										"sink": {
											"name": "total_amount",
											"type": "float",
											"physicalType": "float",
											"precision": 15
										}
									},
									{
										"source": {
											"name": "order_status",
											"type": "varchar",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "order_status",
											"type": "varchar",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "modified_date",
											"type": "datetime",
											"physicalType": "datetime",
											"scale": 3,
											"precision": 23
										},
										"sink": {
											"name": "modified_date",
											"type": "datetime",
											"physicalType": "datetime",
											"scale": 3,
											"precision": 23
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SalesOrders_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_SalesOrders_DeltaSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_UpdateDeltaWatermark",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "cpy_DeltaLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[control].[usp_UpdateDeltaWatermark]",
							"storedProcedureParameters": {
								"last_id": {
									"value": {
										"value": "@{activity('LKP_GetNewWatermark').output.firstRow.new_id}",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"table_name": {
									"value": "sales_orders",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azuresql_incremental_dataload",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-01T21:15:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_DeltaWatermark_Table')]",
				"[concat(variables('factoryId'), '/datasets/ds_SalesOrders_Source')]",
				"[concat(variables('factoryId'), '/datasets/ds_SalesOrders_DeltaSink')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_incremental_dataload')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ForEach_IncrementalLoad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lkp_GetLastProcessedDate",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT last_processed_date\r\nFROM control.foreach_watermark\r\nWHERE table_name = 'sales_orders';",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_SalesOrders_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "lkp_Generate_Process_Dates",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "lkp_GetLastProcessedDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "WITH DateCTE AS (\r\n    SELECT \r\n        CAST(last_processed_date AS DATE) AS process_date\r\n    FROM control.foreach_watermark\r\n    WHERE table_name = 'sales_orders'\r\n\r\n    UNION ALL\r\n\r\n    SELECT \r\n        DATEADD(DAY, 1, process_date)\r\n    FROM DateCTE\r\n    WHERE process_date < CAST(GETDATE() AS DATE)\r\n)\r\nSELECT process_date\r\nFROM DateCTE\r\nOPTION (MAXRECURSION 365);",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_ForEachWatermark",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "fe_ProcessDates",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "lkp_Generate_Process_Dates",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('lkp_Generate_Process_Dates').output.value",
								"type": "Expression"
							},
							"batchCount": 5,
							"activities": [
								{
									"name": "gm_Check_Source_Table",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_SalesOrders_Source",
											"type": "DatasetReference",
											"parameters": {}
										},
										"fieldList": [
											"exists"
										]
									}
								},
								{
									"name": "cpy_sales_orders_incremental",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "gm_Check_Source_Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT\r\n    order_id,\r\n    customer_name,\r\n    product,\r\n    quantity,\r\n    unit_price,\r\n    total_amount,\r\n    order_status,\r\n    modified_date\r\nFROM dbo.sales_orders\r\nWHERE CAST(modified_date AS DATE) = '@{item().process_date}';",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "order_id",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "order_id",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "customer_name",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "customer_name",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "product",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "product",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "quantity",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "quantity",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "unit_price",
														"type": "Double",
														"physicalType": "float"
													},
													"sink": {
														"name": "unit_price",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 2,
														"precision": 10
													}
												},
												{
													"source": {
														"name": "total_amount",
														"type": "Double",
														"physicalType": "float"
													},
													"sink": {
														"name": "total_amount",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 2,
														"precision": 10
													}
												},
												{
													"source": {
														"name": "order_status",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "order_status",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "modified_date",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "modified_date",
														"type": "DateTime",
														"physicalType": "datetime2"
													}
												},
												{
													"source": {
														"name": "load_timestamp"
													},
													"sink": {
														"name": "load_timestamp",
														"type": "DateTime",
														"physicalType": "datetime2"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_SalesOrders_Source",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_SalesOrders_ForEachSink",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "sp_UpdateForEachWatermark",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "cpy_sales_orders_incremental",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[control].[usp_UpdateForEachWatermark]",
										"storedProcedureParameters": {
											"last_processed_date": {
												"value": {
													"value": "@item().process_date",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"table_name": {
												"value": "sales_orders",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_azuresql_incremental_dataload",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_SalesOrders_Source')]",
				"[concat(variables('factoryId'), '/datasets/ds_ForEachWatermark')]",
				"[concat(variables('factoryId'), '/datasets/ds_SalesOrders_ForEachSink')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_incremental_dataload')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Watermark_IncrementalLoad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lkp_GetOldWatermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT\r\n    last_loaded_time\r\nFROM \r\n    control.watermark_table\r\nWHERE \r\n    table_name = 'sales_orders'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_Watermark_Table",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "lkp_GetNewWatermark",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "lkp_GetOldWatermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT MAX(modified_date) AS new_watermark \r\nFROM dbo.sales_orders",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_SalesOrders_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "cpy_IncrementalLoad",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "lkp_GetNewWatermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM dbo.sales_orders\nWHERE modified_date > '@{activity('LKP_GetOldWatermark').output.firstRow.last_loaded_time}'\nAND modified_date <= '@{activity('LKP_GetNewWatermark').output.firstRow.new_watermark}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "order_id",
											"type": "int",
											"physicalType": "int",
											"precision": 10
										},
										"sink": {
											"name": "order_id",
											"type": "int",
											"physicalType": "int",
											"precision": 10
										}
									},
									{
										"source": {
											"name": "customer_name",
											"type": "varchar",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "customer_name",
											"type": "varchar",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "product",
											"type": "varchar",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "product",
											"type": "varchar",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "quantity",
											"type": "int",
											"physicalType": "int",
											"precision": 10
										},
										"sink": {
											"name": "quantity",
											"type": "int",
											"physicalType": "int",
											"precision": 10
										}
									},
									{
										"source": {
											"name": "unit_price",
											"type": "float",
											"physicalType": "float",
											"precision": 15
										},
										"sink": {
											"name": "unit_price",
											"type": "float",
											"physicalType": "float",
											"precision": 15
										}
									},
									{
										"source": {
											"name": "total_amount",
											"type": "float",
											"physicalType": "float",
											"precision": 15
										},
										"sink": {
											"name": "total_amount",
											"type": "float",
											"physicalType": "float",
											"precision": 15
										}
									},
									{
										"source": {
											"name": "order_status",
											"type": "varchar",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "order_status",
											"type": "varchar",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "modified_date",
											"type": "datetime",
											"physicalType": "datetime",
											"scale": 3,
											"precision": 23
										},
										"sink": {
											"name": "modified_date",
											"type": "datetime",
											"physicalType": "datetime",
											"scale": 3,
											"precision": 23
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SalesOrders_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sales_orders_sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_UpdateWatermark",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "cpy_IncrementalLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[control].[usp_UpdateWatermark]",
							"storedProcedureParameters": {
								"last_loaded_time": {
									"value": {
										"value": "@formatDateTime(activity('LKP_GetNewWatermark').output.firstRow.new_watermark, 'yyyy-MM-dd HH:mm:ss')",
										"type": "Expression"
									},
									"type": "String"
								},
								"table_name": {
									"value": "sales_orders",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azuresql_incremental_dataload",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-01T21:05:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_Watermark_Table')]",
				"[concat(variables('factoryId'), '/datasets/ds_SalesOrders_Source')]",
				"[concat(variables('factoryId'), '/datasets/ds_sales_orders_sink')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_incremental_dataload')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_CDCWatermark')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql_incremental_dataload",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "table_name",
						"type": "varchar"
					},
					{
						"name": "last_lsn",
						"type": "binary"
					}
				],
				"typeProperties": {
					"schema": "control",
					"table": "cdc_watermark"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_incremental_dataload')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_DeltaWatermark_Table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql_incremental_dataload",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "table_name",
						"type": "varchar"
					},
					{
						"name": "last_id",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "control",
					"table": "delta_watermark"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_incremental_dataload')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ForEachWatermark')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql_incremental_dataload",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "table_name",
						"type": "varchar"
					},
					{
						"name": "last_processed_date",
						"type": "date"
					},
					{
						"name": "updated_at",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "control",
					"table": "foreach_watermark"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_incremental_dataload')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SalesOrders_CDCSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql_incremental_dataload",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "order_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_name",
						"type": "varchar"
					},
					{
						"name": "product",
						"type": "varchar"
					},
					{
						"name": "quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "unit_price",
						"type": "float",
						"precision": 15
					},
					{
						"name": "total_amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "order_status",
						"type": "varchar"
					},
					{
						"name": "modified_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "cdc_operation",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "sales_orders_cdc_sink"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_incremental_dataload')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SalesOrders_DeltaSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql_incremental_dataload",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "order_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_name",
						"type": "varchar"
					},
					{
						"name": "product",
						"type": "varchar"
					},
					{
						"name": "quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "unit_price",
						"type": "float",
						"precision": 15
					},
					{
						"name": "total_amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "order_status",
						"type": "varchar"
					},
					{
						"name": "modified_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "sales_orders_delta_sink"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_incremental_dataload')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SalesOrders_ForEachSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql_incremental_dataload",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "order_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_name",
						"type": "varchar"
					},
					{
						"name": "product",
						"type": "varchar"
					},
					{
						"name": "quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "unit_price",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "total_amount",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "order_status",
						"type": "varchar"
					},
					{
						"name": "modified_date",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "load_timestamp",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "sales_orders_foreach_sink"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_incremental_dataload')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SalesOrders_Sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql_incremental_dataload",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "order_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_name",
						"type": "varchar"
					},
					{
						"name": "product",
						"type": "varchar"
					},
					{
						"name": "quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "unit_price",
						"type": "float",
						"precision": 15
					},
					{
						"name": "total_amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "order_status",
						"type": "varchar"
					},
					{
						"name": "modified_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "sales_orders_sink"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_incremental_dataload')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SalesOrders_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql_incremental_dataload",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "order_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_name",
						"type": "varchar"
					},
					{
						"name": "product",
						"type": "varchar"
					},
					{
						"name": "quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "unit_price",
						"type": "float",
						"precision": 15
					},
					{
						"name": "total_amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "order_status",
						"type": "varchar"
					},
					{
						"name": "modified_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "sales_orders"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_incremental_dataload')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Watermark_Table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql_incremental_dataload",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "table_name",
						"type": "varchar"
					},
					{
						"name": "last_loaded_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "control",
					"table": "watermark_table"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_incremental_dataload')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sales_orders_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql_incremental_dataload",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "order_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_name",
						"type": "varchar"
					},
					{
						"name": "product",
						"type": "varchar"
					},
					{
						"name": "quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "unit_price",
						"type": "float",
						"precision": 15
					},
					{
						"name": "total_amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "order_status",
						"type": "varchar"
					},
					{
						"name": "modified_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "sales_orders_sink"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_incremental_dataload')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_azuresql_incremental_dataload')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_azuresql_incremental_dataload_properties_typeProperties_server')]",
					"database": "[parameters('ls_azuresql_incremental_dataload_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_azuresql_incremental_dataload_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_azuresql_incremental_dataload_password')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}